:host {
  ion-item {
    border: 0 !important;
    text-align: right !important;

    .item-inner {
      border: 0 !important;
    }

    ion-text {
      overflow-wrap: anywhere;
      max-width: 60%;
      padding: .5rem 0;
    }
  }
}