<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="chat.members[0].userId !== user.userId"> {{ chat.members[0].userId }} </ion-title>
    <ion-title *ngIf="chat.members[0].userId === user.userId"> {{ chat.members[1].userId }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="noMoreResults" position="top">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list>
    <ion-item *ngFor="let message of messages" [ngClass]="{'-left': message._sender.userId !== user.userId }">
      <!-- <ion-avatar *ngIf="message._sender.userId !== user.userId" slot="start"> 
        <img src="{{ message._sender.profileUrl }}">
      </ion-avatar> -->
      
      <ion-text [innerHtml]="message.message" class="ion-text-wrap" slot="start"
        *ngIf="message._sender.userId !== user.userId"></ion-text>
      <ion-text [innerHtml]="message.message" class="ion-text-wrap" slot="end"
        *ngIf="message._sender.userId === user.userId"></ion-text>
      <ion-icon name="ellipsis-vertical" slot="end" (click)="presentPopover($event)"
        *ngIf="message._sender.userId === user.userId"></ion-icon>

      <!-- {{ getDateGroupFromMessage(message) }} -->
      <!-- <ion-avatar *ngIf="message._sender.userId === user.userId" slot="end"> 
        <img src="{{ message._sender.profileUrl }}">
      </ion-avatar> -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" placeholder="Message..." [(ngModel)]="chatBox"></ion-input>
    <ion-buttons slot="end">
      <ion-button button (click)="sendMessage(chatBox)">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>