<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createPrivateChannel()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="chatTapped($event, chat)">
      <ion-avatar slot="start"> <img src="{{ chat?.coverUrl }}"> </ion-avatar>
      <h2 *ngIf="chat?.members[0]?.userId !== user.userId">{{ chat?.members[0]?.userId }} </h2>
      <h2 *ngIf="chat?.members[0]?.userId === user.userId">{{ chat?.members[1]?.userId }} </h2>
      <p *ngIf="chat?.lastMessage?.message"> {{ chat?.lastMessage?.message }} </p>
      <p *ngIf="!chat?.lastMessage?.message"> -- </p>
    </ion-item>
  </ion-list>
</ion-content>
